main {
    display: flex;
    flex-direction: column;
    background: lightgray;
    width: 25%;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

div label {
    margin-bottom: 2px;
    margin-top: 2px;
}

.radio-switch {
    display: inline-flex;
    flex-wrap: wrap;
}

.radio-switch input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

input[type="radio"] {
    visibility: hidden;
}

.radio-switch label {
    cursor: pointer;
    padding: 10px;
    background: lightgray;
    border: 1px solid #abadb3;
}

input:checked + label {
    background: sandybrown;
}

.radio-switch label:first-of-type {
    border-radius: 10px 0 0 10px;
}

.radio-switch label:last-of-type {
    border-radius: 0 10px 10px 0;
}

input #initial_balance {
    background: black;
}

.initial_balance label {
    cursor: pointer;
    padding: 10px;
    background: lightgray;
    border: 1px solid #abadb3;
    border-radius: 10px 0 0 10px;
}

.initial_balance input {
    cursor: pointer;
    padding: 12px;
    background: white;
    border: 1px solid #abadb3;
}

.interest_rate input {
    border-radius: 7px 7px 7px 7px;
    padding: 5px;
    border: 1px solid #abadb3;
}

.interest_rate_period {
    border-radius: 7px 7px 7px 7px;
    padding: 5px;
    border: 1px solid #abadb3;
}

.years_and_months {
    display: flex;
}

.years {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.years input {
    border: 1px solid #abadb3;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
}

.months {
    margin-left: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.months input {
    border: 1px solid #abadb3;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
}

.compound_interval {
    border-radius: 7px 7px 7px 7px;
    padding: 5px;
    border: 1px solid #abadb3;
    width: 50%;
}
